attrs==18.1.0
boltons==18.0.0
certifi==2018.4.16
chardet==3.0.4
docopt==0.6.2
face==0.1.0
glom==18.1.1
idna==2.6
jedi==0.12.0
parso==0.2.0
prompt-toolkit==1.0.15
ptpython==0.41
Pygments==2.2.0
Pyphen==0.9.4
requests==2.18.4
six==1.11.0
urllib3==1.22
wcwidth==0.1.7
what3words==2.2.1
